/* Main document */

*{
    margin: 0;
}
body{
    background-color: white;
    font-family: 'Josefin Sans';
    height: 100vh;
}

::selection{
    color: #404fe6;
}

/* Cursor properties */

.cursor {
    position: absolute;
    /* left: 0;
    top: 0; */
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    z-index: 9999999999;
  }

  .cursor_follower {
    position: absolute;
    transform-origin: left 20px;
    transition: transform .6s;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #404fe6;
    z-index: 0;
  }

  /* Text style */

h1{
    font-size: 60px;
}

h3{
    text-decoration: underline;
    font-size: 42px;   
}

a{
    text-decoration: none;
    color: black;
    font-size: 42px;
}

a:hover{
    color: #404fe6;
    transition: all 800ms;
}

nav a{
    font-weight: 500;
    font-size: 24px;
}

.prez h3{
    line-height: 5rem;
}

.namemm{
    font-size: 20px;
    font-weight: 500;
}
/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #404fe6; */
    background-image: url("");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    cursor: none;
    opacity: 1;
    transition: ease-in 0.4s;
  }

  #particles-js.ghost{
    opacity: 0.3;
    transition: ease-in-out all 0.4s;
    /* background-color: #404fe6; */
    transform: scale(-1);
 }

 /* Menu & Nav properties */
.burger{
    display: flex;
    justify-content: center;
    align-items: center;
}
 .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 100%;
}

.bar {
    transition: all ease-out 0.4s;
    height: 4px;
    width: 30%;
    display: block;
    background-color: black;
    transform: all ease-out 0.4s;
  }

.bar:hover{
      width: 40px;
  }

.bar.active{
    width: 20px;
    background-color: #404fe6;
}

nav{
    position: absolute;
    bottom: 0;
    right: 100px;
    /* background-color: rgba(254, 254, 254, 0.9); */
    transform: translateY(10vh);
    transition: transform 800ms ease-out;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
}

nav.visible{
    transform: translateY(0);
    opacity: 1;
    height: 10%;
    width: 30%;
}

.home, .about, .projects{
    transform: translateY(10vh);
    cursor: pointer;
    transition: transform 400ms ease-in-out;
}

nav.visible .home{
    transform: translateY(0);
    transition-delay: 0.3s;
}

nav.visible .projects{
    transform: translateY(0);
    transition-delay: 0.5s;
}

nav.visible .about{
    transform: translateY(0);
    transition-delay: 0.7s;
}

/* CTA Properties */

.cta-light{
    position: absolute;
    top: 60%;
    left: 5%;
    cursor: pointer;
    text-decoration: none;
    z-index: 2;
    margin-top: 60px;
    color: rgba(38, 38, 38, 0.14);
    transition: color 800ms;
    display: none;
}

.cta-light:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    cursor: pointer;
  }

  .cta-light:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    bottom: -4;
    left: 0;
    background-color: #404fe6;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    
  }

.cta-light.testcolor{
    color: rgb(255, 255, 255);
    display: block;
}

.email {
    color: rgba(38, 38, 38, 0.14);
}

/* Cards properties */

.cards{
    width: 600px;
    height: 600px;
    padding: 60px;
}

.card{
    width: 400px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 0 5px 6px -3px rgba(136, 136, 136, 0.2), 0 3px 16px 2px rgba(136, 136, 136, 0.12), 0 9px 12px 1px rgba(135, 135, 135, 0.14);
    background-color: #fafafa;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

/* Containers properties */

.container{
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.first{
    width: 100%;
    height: 90%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second{
    width: 100vw;
    height: 10%;
    background-color: white;
    transition: background-color 0.6s ease;
}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}

.second.scrolled .menu .line{
    background-color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 20%;
    height: 100%;
    /* overflow: hidden; */
}

.header p{
    margin-left: 20px;
    transition: color 0.6s ease;
    cursor: pointer;
}

.header p:hover{
    color: #404fe6;
}

.prez{
    position: absolute;
    left: 5%;
    top: 10%;
    color: rgba(38, 38, 38, 0.14);
    transition: all 800ms;

}

.prez.testcolor{
    color: rgb(255, 255, 255);
    z-index: 99;
    cursor: none;

}

/* Icon SVG Properties */

.icon {
    /* display: inline-block; */
    width: 1em;
    height: 1em;
    stroke-width: 0.4;
    stroke: black;
    fill: currentColor;
  }

.icon-Logomm{
    color: black;
    width: 100%;
    height: 100%;
    transition: color 800ms;
}

.icon-Logomm.testcolor{
    color: rgba(220, 220, 220, 0.5);
}

/* TESTING */

 