*{
    margin: 0;
}

body{
    background-color: white;
    font-family: 'Josefin Sans';
    height: 100vh;
}

.cursor {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 5px;
  }

h1{
    font-size: 4em;
}

.container{
    width: 100vw;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
}

/* ---- particles.js container ---- */

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: #000; */
    background-image: url("");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 100% 100%;
    cursor: none;
  }
  

/* .canvas{
    width: 100%;
    height: 40%;
    position: absolute;
    left: 0;
    top: 0;
    cursor: none;
} */


::selection{
    color: white;
}

.wrapper{
    width: 100vw;
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}

.first{
    width: 100%;
    height: 90%;
    background-color: black;
}

.second{
    width: 100vw;
    height: 10%;
    background-color: white;
    transition: background-color 0.6s ease;
}

.scrolled{
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
}

.second.scrolled .menu .line{
    background-color: white;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 20%;
    height: 100%;
    overflow: hidden;
}

.header p{
    margin-right: 20px;
    transition: color 0.6s ease;
    cursor: pointer;
}

.header p:hover{
    color: #00B4CD;
}

.icon {
    /* display: inline-block; */
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: white;
    fill: currentColor;
  }

.icon-Logomm{
    position: absolute;
    right: 20px;
}

.prez{
    position: absolute;
    left: 10%;
    top: 20%;
    color: black;
    transition: color 800ms;
}

.prez.testcolor{
    color: rgba(220, 220, 220, 0.5);
}
.prez p{
    line-height: 1.5rem;
}

.menu{
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 20px;
    height: 40px;
    cursor: pointer;
    color: black;
    z-index: 2;
}

.menu .line-wrapp{
	width: 100%;
	height: 100%;
	transition: all 600ms ease-in-out;
}


.menu .line{
	width: 100%;
	height: 2px;
	background-color: black;
    transition: all 600ms ease-in-out;
    margin: 8px 0;
}

.menu.active .line{
    background-color: black;
}


.menu.active .line.top{
	width: 100%;
	transform: translateX(0px) translateY(5px) rotate(45deg);
}
.menu.active .line.bottom{
	width: 100%;
	transform: translateX(0px) translateY(-5px) rotate(-45deg);
}

nav{
    background-color: white;
    height: 90vh;
    font-size: 2em;
    transform: translateY(-100vh);
    transition: transform 600ms ease-out;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    z-index: 2;
}

nav.visible{
    transform: translateY(0);
}

.home, .about, .projects{
    transform: translateY(-90vh);
    cursor: pointer;
    transition: transform 400ms ease-out;
}

nav.visible .home{
    transform: translateY(0);
}

nav.visible .projects{
    transform: translateY(0);
    transition-delay: 0.4s;
}

nav.visible .about{
    transform: translateY(0);
    transition-delay: 0.6s;
}


/* #polygon {
    width: 1em;
    font-size: 200px;
    color: black;
    margin-top: 40px;
    stroke-linejoin: round;
  } */
/* 
  svg {
    display: block;
    height: 280px;
    width: 320px;
    margin: auto;
    overflow: visible;
  } */